{% extends '@App/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12"> <h2>{{ film.titre }}</h2><hr></div>
        <div class="col-sm-12">
            <p>{{ film.description }}</p>
        </div>
        <div class="col-sm-3">
            <img width="235" height="160" src="{{ film.image.path }}" alt="{{ film.image.alt }}">
        </div>
        <div class="col-sm-9">
            <iframe width="620" height="260"
                    src="https://www.youtube.com/embed/XGSy3_Czz8k">
            </iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12"><h1 class="text-center">Autres films {{ film.id }}</h1></div>
        <div class="col-sm-3">
            <img class="imagesize" src="http://www.cinetrafic.fr/images/affiches/big/aff_478920131220115027.jpg?1506095587" title="nglourious Basterds">
        </div>
        <div class="col-sm-3">
            <img class="imagesize" src="http://www.cinetrafic.fr/images/affiches/big/aff_478920131220115027.jpg?1506095587" title="nglourious Basterds">
        </div>
        <div class="col-sm-3">
            <img class="imagesize" src="http://www.cinetrafic.fr/images/affiches/big/aff_478920131220115027.jpg?1506095587" title="nglourious Basterds">
        </div>
        <div class="col-sm-3">
            <img class="imagesize" src="http://www.cinetrafic.fr/images/affiches/big/aff_478920131220115027.jpg?1506095587" title="nglourious Basterds">
        </div>
    </div>
{% endblock %}